
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview {
    // modify your style here
    // eg: background-color: blue;
    //background-color: #202020;
    width:100%;
    position: absolute;
    z-index:0;
    

  
  .title{
    align-items: center;
  }
  .title h1{
    border-bottom: 0;
    text-align: center;
    font-size: 2.75em;
  }
  h1
    {
      padding-bottom: 0.3rem;
      border-bottom: solid #fff;
  }
    
  h2{
      font-weight: normal;
      padding-bottom: 0.3rem;
      border-bottom: 1pt solid #8b8b8b;
  }
    
  h3 {
      font-weight: bold;
  }
  h4{
      font-style: italic;
      font-weight: normal ;
      font-size: 1.2em;
  }
}

/////////////line////////////////
  .markdown-preview hr{
    background-color: rgba(0,0,0,0);
    border-bottom: 1pt solid #8b8b8b;
  }
  //////////////table//////////////////
  .markdown-preview table {
    //border-spacing: 0;
    //border-collapse: collapse;
    display: block;
    max-width: 100%;
    overflow: auto;
    text-align: center;
    color: #f0ffff;
  }
  .markdown-preview table th {
    text-align: center;
    font-weight: bold;
    color: rgb(129, 180, 244);
    //background-color: #202020;
    border: 1.5px solid #b7b7b7;
  
  }
  //.markdown-preview table th,
  .markdown-preview table td {
    border: 1.5px solid #b7b7b7;
  
    //padding: 6px 13px;
    //border: 0px solid #b7b7b7;
  }
  .markdown-preview table tr {
    //background-color: #202020;
    border: 1.5px solid #b7b7b7;
  }
  .markdown-preview table tr:nth-child(2n) {
    //background-color: #202020;
  }
  
  ///////////toc/////////////////
  html body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .markdown-preview,
  html body[for="html-export"]:not([data-presentation-mode]):not([html-show-sidebar-toc]) .markdown-preview {
    left:0;
    width: 100%;
    max-width: 914px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
    transform: translateX(0);
  }
  
  
  
  
  html body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 32px 10px 48px 0;
    font-size: 14px;
    box-shadow: 0 0 4px rgba(150,150,150,0.33);
    box-sizing: border-box;
    overflow: auto;
    background-color: inherit;
  }
  
  
  
  html{
    
    /* 侧栏 */
    /////////////////0//////////////////
    .md-sidebar-toc{
      // sidebar TOC style
      margin: 0rem 0rem 0em 0em;
      padding: 0rem 0rem 0em 0rem;
      position: absolute;
      //color:red;
      width: auto;
      max-width: 768px;
      //background-color:#080711;
      //border: 1px solid #aaa;
      //display: table;
      margin-bottom: 1em;
      background-color: rgba(255,255,255,0.1);            /*背景颜色*/
      //border-left: 1rem solid;
      position: absolute;
      z-index: 70;

    }
    .md-sidebar-toc a{
      color: inherit;
      font-size: 0.7rem !important;
  
    }
    .md-sidebar-toc a:hover{
      color: inherit;
    }
    .md-sidebar-toc li{
      margin-left: 1rem;
      margin-bottom: 0 !important;
      text-align: left;                        /*左对齐*/
      
      
    }
    /////////////1///////////////
    .md-sidebar-toc ul{
      padding-left: 0rem;
      margin-left: 0rem;
      padding-right: 0 !important;
      //margin-top: 2pt !important;
      //margin-bottom: 2pt !important;
      //border-left: 2px
      //color:#c9c9c9
    }
    .md-sidebar-toc ul li{
      font-size: 0.8rem !important;           /*字号*/
      font-weight: bold;                      /*一级大纲*/
      //font-style: italic;
  
    }
    .md-sidebar-toc ul li:hover {
      //background-color: rgb(115, 115, 115);
      color:rgb(135, 255, 255);
      font-style: italic;
      //border-left:1.5pt solid rgb(32, 134, 162);
      //border: 1rem solid;
      //border-left: 2px solid;
    }
    /////////////2///////////////
    .md-sidebar-toc ul ul {
      padding-left: 0rem !important;
      display: none;
    }
    .md-sidebar-toc .active{
      color:rgb(135, 255, 255);
      font-style: italic;
      ul, ul ul, li{
      display: block;
      }
    }
    /*.md-sidebar-toc ul li:hover > ul,
    .md-sidebar-toc ul li:hover > ul ul{
      display: block;
    }*/
    .md-sidebar-toc ul ul:hover {
      //background-color: rgb(115, 115, 115);
      color:rgb(135, 255, 255);
      //border-left:1.5pt solid rgb(32, 134, 162);
    }
    .md-sidebar-toc ul ul li{
      margin-bottom: 8pt !important;
      margin-top: 3pt !important;
      margin-left: 0rem;
      font-size: 0.8rem !important;           /*字号*/
      font-style: normal;
      font-weight: normal;
      padding-left: 0.2rem;
      border-left: 2px rgba(0,0,0,0) solid;
    }
    .md-sidebar-toc ul ul li:hover {
      //background-color: rgb(115, 115, 115);
      //color:rgb(32, 134, 162);
      //border-left:1.5pt solid rgb(32, 134, 162);
      //border: 1rem solid;
      font-style: normal;
      border-left: 2px solid;
    }
    /////////////3///////////////
    .md-sidebar-toc ul ul ul{
      padding-left: 0rem;
      margin-left: 0rem;
      //background-color: rgba(255,255,255,0.1);            /*背景颜色*/
      
  
    }
    .md-sidebar-toc ul ul ul:hover{
    //border-left: 2px solid;
    }
    .md-sidebar-toc ul ul ul li{
      margin-top: 2pt !important;
      margin-bottom: 2pt !important;
      margin-left: 0rem;
      padding-left: 0.5rem;
      border-left: 0px;
  
    }
    .md-sidebar-toc ul ul ul li:hover {
      //background-color: rgb(115, 115, 115);
      //color:rgb(32, 134, 162);
      //border-left:1.5pt solid rgb(32, 134, 162);
      //border: 1rem solid;
      border-left: 0px solid;
    }
    
    
    
    
    
    
    
  
    /* 侧栏自动编号 */
    /* 复位计数器 */
    body{
      counter-reset: outline-h1 0 outline-h2 0 outline-h3 0 outline-h4 0 outline-h5 0
    }
    .md-sidebar-toc li{
      counter-reset: outline-h1;
    }
    .md-sidebar-toc ul li{
      counter-reset: outline-h2;
    }
    .md-sidebar-toc ul ul li{
      counter-reset: outline-h3;
    }
    .md-sidebar-toc ul ul ul li{
      counter-reset: outline-h4;
    }
    .md-sidebar-toc ul ul ul ul li{
      counter-reset: outline-h5;
    }
  
    /* 进行编号 */
    .md-sidebar-toc ul ul li:before {
      counter-increment: outline-h2;
      content: counter(outline-h2) " ";
      font-size: 0.7em;
    }
    .md-sidebar-toc ul ul ul li:before {
      counter-increment: outline-h3;
      content: counter(outline-h2) "." counter(outline-h3) " ";
      font-size: 0.7em;
  
    }
    .md-sidebar-toc ul ul ul ul li:before {
      counter-increment: outline-h4;
      content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4) " ";
      font-size: 0.7em;
  
    }
    .md-sidebar-toc ul ul ul ul ul li:before {
      counter-increment: outline-h4;
      content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4) "." counter(outline-h5) " ";
      font-size: 0.7em;
  
    }
  
  }
  
  
  
  /////////////雙欄///////////////
  .dcl{
    //width: 100%;
    /* block 水平置中的方法 */
    margin: 0 auto;
    background: rgba(0,0,0,0);
    overflow: hidden;
    margin-right: -1%;
  }
  
  header,
  section,
  aside,
  .in,
  footer {
    margin: 0 1% 0.3em 0;
  }
  section {
    float: left;
    width: 49%;
  }
  footer {
    margin-bottom: 0;
    /* 不准其他元素出現在其左右 */
    clear: both;
  }
  //////////////////////////////
  /*
  /////三线表/////
  table{
      border-top: 1.5pt solid;
      border-bottom: 1.5pt solid;
      font-family:'Latin Modern Roman 10', 'LM Roman 10',"Times New Roman",Arial,"Source Han Serif SC",'simsun',sans-serif;
      text-align:center;                          //文字居中
    page-break-inside:avoid;                    //禁止断页
    width: 100%;                                //扩展表格宽度
    overflow: auto;
    margin-bottom: 8pt;                         //表格间距
    border-collapse:collapse;       
  }
  
  table .katex{
    font-size: 9pt;                             //表内公式
  }
  table td{
      font-family:'Latin Modern Roman 10', 'LM Roman 10',"Times New Roman",Arial,"Source Han Serif SC",'simsun',sans-serif;
      font-size:9pt;                              //表内文字
  }
  
  table thead{
    border-bottom: 0.75pt solid black;        //三线表中间线
  }
  
  //标题行
  table th{
      font-family:'Latin Modern Roman 10', 'LM Roman 10',"Times New Roman",Arial,"SimHei","Source Han Serif SC",'simsun',sans-serif;
      font-size:9pt;                              
  }
  */
  .btn{
    position:fixed;
    z-index: 99;
    font-size: 24px;
    cursor: pointer;
    color: inherit;
    text-align: center;
    width: 32px;
    cursor: pointer;
    opacity: .4;
    word-wrap: break-word;
  }
  .btn:active{
    opacity:.8;
  }
