/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */
.markdown-preview {
  width: 100%;
  position: absolute;
  z-index: 0;
}
.markdown-preview .title {
  align-items: center;
}
.markdown-preview .title h1 {
  border-bottom: 0;
  text-align: center;
  font-size: 2.75em;
}
.markdown-preview h1 {
  padding-bottom: 0.3rem;
  border-bottom: solid #fff;
}
.markdown-preview h2 {
  font-weight: normal;
  padding-bottom: 0.3rem;
  border-bottom: 1pt solid #8b8b8b;
}
.markdown-preview h3 {
  font-weight: bold;
}
.markdown-preview h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.2em;
}
.markdown-preview hr {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1pt solid #8b8b8b;
}
@media screen and (max-width: 600px) {
  .table-scroll-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .table-scroll-wrapper::-webkit-scrollbar {
    display: none;
  }
}
.markdown-preview table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  color: #fff7f0;
  border-collapse: collapse;
  display: table;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  .markdown-preview table {
    table-layout: auto;
    display: table;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.markdown-preview table thead {
  position: sticky;
  background-color: hsl(220, 13%, 8%);
  top: 0;
  z-index: 999;
}
.markdown-preview table th {
  text-align: center;
  font-weight: bold;
  color: #81b4f4;
  border: 1.5px solid #8b8b8b;
}
.markdown-preview table td {
  border: 1.5px solid #8b8b8b;
}
.markdown-preview table tr {
  border: 1.5px solid #8b8b8b;
}
.markdown-preview table td,
.markdown-preview table th {
  padding: 0;
  position: relative;
}
.markdown-preview table td ol,
.markdown-preview table th ol,
.markdown-preview table td ul,
.markdown-preview table th ul {
  list-style-position: inside;
  /* 控制項目符號的位置 */
  text-align: left;
  /* 文字對齊方式 */
}
.markdown-preview table .table-diagonal {
  background: linear-gradient(to top right, rgba(0, 0, 0, 0) 49%, #8b8b8b 49%, #8b8b8b 51%, rgba(0, 0, 0, 0) 51%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.markdown-preview table .table-diagonal .top-left {
  position: absolute;
  top: 5%;
  left: 5%;
}
.markdown-preview table .table-diagonal .top-right {
  position: absolute;
  top: 5%;
  right: 5%;
}
.markdown-preview table .table-diagonal .bottom-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.markdown-preview table .table-diagonal .bottom-left {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
img {
  max-width: 100%;
  width: 80%;
  top: 0.3rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  padding: 0;
  background-color: white;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
html body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .markdown-preview,
html body[for="html-export"]:not([data-presentation-mode]):not([html-show-sidebar-toc]) .markdown-preview {
  left: 0;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
  transform: translateX(0);
}
html body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc] .md-sidebar-toc {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 50px 10px 48px 0;
  font-size: 14px;
  box-shadow: 0 0 4px rgba(150, 150, 150, 0.33);
  box-sizing: border-box;
  overflow: auto;
  background-color: inherit;
}
html body {
  background-color: hsl(220, 13%, 18%);
  /* === Markdown Preview Enhancer TOC 樣式新版 === */
  /* 縮排*/
  /* TOC link */
  /* 每層 details 都要重置下一層 counter */
  /* 第一層：h1 */
  /* 第二層：h2 */
  /* 第三層：h3 */
  /* 第四層：h4 */
  /* 縮排 
.md-sidebar-toc .md-toc-link-wrapper { padding-left: 0.5rem; }
.md-sidebar-toc details > div > .md-toc-link-wrapper { padding-left: 1rem; }
.md-sidebar-toc details details > div > .md-toc-link-wrapper { padding-left: 2rem; }
.md-sidebar-toc details details details > div > .md-toc-link-wrapper { padding-left: 3rem; }*/
  /* hover & active */
  /*
  /////三线表/////
  table{
      border-top: 1.5pt solid;
      border-bottom: 1.5pt solid;
      font-family:'Latin Modern Roman 10', 'LM Roman 10',"Times New Roman",Arial,"Source Han Serif SC",'simsun',sans-serif;
      text-align:center;                          //文字居中
    page-break-inside:avoid;                    //禁止断页
    width: 100%;                                //扩展表格宽度
    overflow: auto;
    margin-bottom: 8pt;                         //表格间距
    border-collapse:collapse;       
  }
  
  table .katex{
    font-size: 9pt;                             //表内公式
  }
  table td{
      font-family:'Latin Modern Roman 10', 'LM Roman 10',"Times New Roman",Arial,"Source Han Serif SC",'simsun',sans-serif;
      font-size:9pt;                              //表内文字
  }
  
  table thead{
    border-bottom: 0.75pt solid black;        //三线表中间线
  }
  
  //标题行
  table th{
      font-family:'Latin Modern Roman 10', 'LM Roman 10',"Times New Roman",Arial,"SimHei","Source Han Serif SC",'simsun',sans-serif;
      font-size:9pt;                              
  }
  */
}
html body .md-sidebar-toc {
  margin: 0;
  padding: 0.5rem 0;
  position: absolute;
  max-width: 768px;
  background-color: rgba(186, 55, 55, 0.1);
  z-index: 70;
  font-size: 0.85rem;
  line-height: 1.5;
}
html body .md-toc-link-wrapper {
  list-style: none!important;
}
html body div.md-toc-link-wrapper {
  margin-left: 0px!important;
}
html body details > div > div.md-toc-link-wrapper {
  margin-left: 24px!important;
}
html body .md-sidebar-toc a {
  color: inherit;
  text-decoration: none;
}
html body .md-sidebar-toc a:hover {
  color: #87ffff;
  font-style: italic;
}
html body .md-sidebar-toc {
  counter-reset: toc-h1;
}
html body .md-sidebar-toc details {
  counter-reset: toc-h2;
}
html body .md-sidebar-toc details details {
  counter-reset: toc-h3;
}
html body .md-sidebar-toc details details details {
  counter-reset: toc-h4;
}
html body .md-sidebar-toc > .md-toc > .md-toc-link-wrapper:before,
html body .md-sidebar-toc > .md-toc > details > summary.md-toc-link-wrapper:before {
  counter-increment: toc-h1;
  content: counter(toc-h1) ". ";
  font-size: 0.75em;
}
html body .md-sidebar-toc details > div > .md-toc-link-wrapper:before,
html body .md-sidebar-toc details > div > details > summary.md-toc-link-wrapper:before {
  counter-increment: toc-h2;
  content: counter(toc-h1) "." counter(toc-h2) " ";
  font-size: 0.75em;
}
html body .md-sidebar-toc details details > div > .md-toc-link-wrapper:before {
  counter-increment: toc-h3;
  content: counter(toc-h1) "." counter(toc-h2) "." counter(toc-h3) " ";
  font-size: 0.75em;
}
html body .md-sidebar-toc details details details > div > .md-toc-link-wrapper:before {
  counter-increment: toc-h4;
  content: counter(toc-h1) "." counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) " ";
  font-size: 0.75em;
}
html body .md-sidebar-toc .md-toc-link-wrapper:hover {
  color: #87ffff;
  font-style: italic;
}
html body .md-sidebar-toc .md-toc-link-wrapper.active a {
  color: #87ffff;
  font-weight: bold;
}
html body .dcl {
  /* block 水平置中的方法 */
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  margin-right: -1%;
}
html body header,
html body section,
html body aside,
html body .in,
html body footer {
  margin: 0 1% 0.3em 0;
}
html body section {
  float: left;
  width: 49%;
}
html body footer {
  margin-bottom: 0;
  /* 不准其他元素出現在其左右 */
  clear: both;
}
html body .btn {
  position: fixed;
  z-index: 99;
  font-size: 24px;
  color: inherit;
  text-align: center;
  width: 32px;
  cursor: pointer;
  opacity: 0.4;
  word-wrap: break-word;
}
html body .btn:active {
  opacity: 0.8;
}
@media screen and (max-width: 400px) {
  html body img {
    width: 100% !important;
  }
}
html body .fbox {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
html body .fbox img {
  position: relative;
  left: 0;
  transform: translate(0, 0);
  padding: 0;
  background-color: rgba(0, 0, 0, 0) !important;
  object-fit: contain;
}
html body table .fbox {
  left: 0;
  transform: translateX(0);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  word-wrap: break-word;
}
/* Enlarged image inside modal */
.modal-content {
  display: block;
  margin: 20px;
  max-width: 90%;
  max-height: 80vh;
  animation: zoomIn 0.3s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* 初始從小尺寸開始 */
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0);
}
/* Zoom in effect */
@keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Close button (X) */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
}
